@charset "UTF-8";

html {
  font-size: 10px;
}

#mainTop {
  width: 100%;
  position: relative;
  margin-top: 10rem;
}

#mainTop .visual-img {
    width: 100%;
    height: 59.1rem;
    background-image: url(../images/airplane.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#mainTop .visual-img .visual-title {
  text-align: center;
}

.visual-img .visual-title p {
  padding-top: 16rem;
  font-size: 4.0rem;
  font-weight: 800;
}

#mainSnb {
  width: 100%;
  position: relative;
}

#mainSnb .snb-contents {
  width: 100%;
  height: 11.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24rem;
}

#mainSnb .snb-contents .snb-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.snb-contents .snb-left .snb-title {
  font-size: 4rem;
  font-weight: 800;
}

.snb-contents .snb-left .snb-btn {

}

.snb-left .snb-btn button {
  width: 13rem;
  height: 4.6rem;
  border-radius: 4rem;
  border: 1px solid #222222;
  background-color: #ffffff;
}

#mainSnb .snb-contents .snb-right {

}

#mainSnb .snb-contents .snb-right ul {
  display: flex;
  align-items: flex-start;
  gap: 3.2rem;
}

#mainBanner {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainBanner .banner-contents {
  background-color: #D6E2FF;
  width: 144rem;
  height: 7.3rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainBanner .banner-contents .banner-left {
  color: #222222;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#mainBanner .banner-contents .banner-right {

}

#mainTotal {
  width: 100%;
  position: relative;
}

#mainTotal .total-contents {
  margin-top: 21.2rem;
}

#mainTotal .total-contents .total-title {

}

.total-contents .total-title h1 {
text-align: center;
font-size: 3.2rem;
font-weight: 700;
}

.total-contents .total-title p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

#mainTotal .total-contents .total-menu {
background: url(../images/airplane2.png);
width: 100%;
height: 51.9rem;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: space-around;
}

#mainTotal .total-contents .total-menu span {
  font-size: 2.0rem;
  color: #ffffff;
}

.total-contents .total-menu .total-goods > div,
.total-contents .total-menu .total-customer > div,
.total-contents .total-menu .total-flight > div {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  width: 32.6rem;
  position: relative;
}

.total-contents .total-menu .total-goods > div > ul ,
.total-contents .total-menu .total-customer > div > ul ,
.total-contents .total-menu .total-flight > div > ul {
  padding-left: 2.4rem;
}

.total-contents .total-menu .total-goods > div > ul > li,
.total-contents .total-menu .total-customer > div > ul > li,
.total-contents .total-menu .total-flight > div >ul > li {
  list-style: disc;
}

.total-menu .total-goods > div:nth-of-type(1) {
  height: 15.2rem;
}

.total-menu .total-goods > div:nth-of-type(2) {
  height: 7.6rem;
}

.total-menu .total-customer > div:nth-of-type(1) {
  height: 12.6rem;
}

.total-menu .total-customer > div:nth-of-type(2) {
  height: 10rem;
}

.total-menu .total-flight > div {
  height: 7.4rem;
}

#mainSafety {
  width: 100%;
  position: relative;
}

#mainSafety .safety-contents {
  margin-top: 21.2rem;
}

#mainSafety .safety-contents .safety-title {

}

.safety-contents .safety-title h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
}

.safety-contents .safety-title p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

#mainSafety .safety-contents .saftey-menu {
  
}