@import "responsive";
@import "common_category";

// section { position: relative; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; }
// section p { font-size: 40px; margin-bottom: 50px; }
// #section1 { background: yellowgreen; }
#section2 { overflow: hidden; }
// #section3 { background: indianred; }
// #section4 { background: paleturquoise; }
// .box h1 { font-size: 50px; text-align: centerspa; }
.box1 { background: darkslategray; }
.box2 { background: crimson; }
.box3 { background: darkorchid; }
.box_wrapper { display: flex; justify-content: space-around; width: 100%; }
.box { width: 200px; height: 200px; display: flex; justify-content: center; align-items: center; opacity: 1; }

#wrap{
    section{
        width: 100%;
        // height: 100vh;
        position: relative;
        border: 1px solid #000;
        &#mainVisual{
            .visual-top{
                // height: 100vh;
                // padding: 30rem 0;
                position: relative;
                width: 100%;
                .visual-main-tit{
                    width: 80%;
                    position: absolute;
                    // position: fixed;
                    top: 25.8rem;
                    left: 24rem;
                    z-index: 10;
                    opacity: 1;
                    > div{
                        // border: 1px solid #000;
                        font-family: $scoreDream;
                        font-size: 8rem;
                        font-weight: 500;
                        line-height: 11rem;
                        overflow: hidden;
                        display: flex;
                        &:not(.visual-sub-tit){
                            span{
                                transform: translateY(100%);
                                mix-blend-mode: difference;
                                animation: mainTit .8s both alternate;
                                animation-delay: .5s;
                            }
                        }
                        span{
                            // color: #fafafa;
                            display: block;
                        }
                        @keyframes mainTit {
                            0%{transform: translateY(100%);}
                            100%{transform: translateY(0);}
                        }
                        &.visual-sub-tit{
                            opacity: 0;
                        }
                    }
                }
            }
            .bg-list{
                width: 100%;
                height: 100vh;
                background: #eee;
                // transform: translateY(-100vh);
                position: relative;
                // position: absolute;
                // top: 0;
                // left: 0;
                z-index: 9;
                > div{
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                }
                .opacity-con{
                    // height: 100vh;
                    border: 1px solid red;
                    &.opacity-con01{z-index: 1;}
                    &.opacity-con02{z-index: 2;}
                    &.opacity-con03{z-index: 3;}
                    .visula-img{
                        // height: 100vh;
                        width: 100%;
                        // opacity: 0;
                    }
                }
            }
        }
    }
}