@import "_common_component";

.container {
    #hero {
        width: 100%;
        height: 100vh;
        position: relative;
        background: url(../../assets/images/common/hero_bg_white.png) no-repeat center bottom/ 100%;
        background-attachment: fixed;
        background-size: cover;
        background-color: $white;
        opacity: 1;
        transition: all 0.3s;
        &.fixed {
            opacity: 0.5;
        }
        .content {
            width: fit-content;
            position: relative;
            top: 25.6%;
            left: 7.7%;
            > p {
                display: flex;
                align-items: flex-end;
                // gap: 1.04vw;
                gap: 2rem;
                color: $black;
                // font-size: 1.25vw;
                font-size: 2.4rem;
                font-weight: 500;
                letter-spacing: -0.02rem;
                // height: 2.5vw;
                height: 4.8rem;
                > span {
                    color: $black;
                    // font-size: 1.67vw;
                    font-size: 3.2rem;
                    font-weight: 700;
                    letter-spacing: -0.011rem;
                }
            }
        }
        .txt-wrap {
            display: flex;
            flex-direction: column;
            // gap: 2.6vw;
            gap: 5rem;
            .txt {
                color: $black;
                font-size: 20rem;
                font-weight: 700;
                letter-spacing: -0.02rem;
                display: flex;
                // gap: 3.9vw;
                gap: 7.5rem;
                &.txt-img {
                    .img-wrap {
                        img {
                            // max-width: 12.65625vw;
                            max-width: 24.3rem;
                        }
                    }
                }
            }
        }
    }
}



// :root {
//     --text-color: #111;
//     --bg-color: #b9b3a9;
// }

body {
// font-family: termina, sans-serif;
// color: var(--text-color);
// background: var(--bg-color);
transition: 0.3s ease-out;
overflow-x: hidden;
max-width: 100%;
width: 100%;
overscroll-behavior: none;
}

section:not(#sectionPin) {
min-height: 100vh;
width: 100%;
position: relative;
// display: grid;
// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
// grid-gap: 2rem;
// padding: 50px 10vw;
// margin: auto;
// place-items: center;
}

// img {
// height: 80vh;
// width: auto;
// object-fit: cover;
// }

// h1 {
//     font-size: 5rem;
//     line-height: 1;
//     font-weight: 800;
//     margin-bottom: 1rem;
//     position: absolute;
//     top: 10vw;
//     left: 10vw;
//     z-index: 4;
//     overflow-wrap: break-word;
//     hyphens: auto;

//     @media (max-width: 768px) {
//         font-size: 16vw;
//     }

//     span {
//         display: block;
//     }
// }

// h2 {
//     font-size: 2rem;
//     max-width: 400px;
// }

// .credit {
//     font-family: Termina, sans-serif;
//     a {
//         color: var(--text-color);
//     }
// }

// * {
//     box-sizing: border-box;
// }

#sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}

.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding: 50px 10vw;
    & > * {
        // min-width: 60vw;
        // padding: 0 5vw;
        min-width: 100vw;
    }
    .slide-list {
        height: 100vh;
        min-width: 100vw;
        position: relative;
        opacity: 1;
        transition: all 0.3s;
        .txt-wrap {
            width: fit-content;
            position: relative;
            display: flex;
            flex-direction: column;
            span {
                color: $black;
                // font-size: 1.25vw;
                font-size: 2.4rem;
                font-weight: 500;
                letter-spacing: -0.02rem;
                // line-height: 1.5625vw;
                line-height: 3rem;
            }
            .wrap {
                // padding-top: 0.83vw;
                padding-top: 1.6rem;
                position: relative;
                z-index: 1;
                p {
                    color: $black;
                    // font-size: 2.5vw;
                    font-size: 4.8rem;
                    font-weight: 700;
                    letter-spacing: -0.02rem;
                    // line-height: 3.125vw;
                    line-height: 6rem;
                }
            }
            a {
                // padding-top: 1.25vw;
                padding-top: 2.4rem;
            }
        }
        &.main {
            background: url(../../assets/images/common/hero_bg_black.png) no-repeat center bottom/ 100%;
            background-attachment: fixed;
            background-size: cover;
            background-color: $black;           
            .txt-wrap {
                width: fit-content;
                position: relative;
                top: 23.62%; 
                left: 15.42%;
                display: flex;
                flex-direction: column;
                span {
                    color: $white;
                    // font-size: 1.25vw;
                    font-size: 2.4rem;
                    font-weight: 500;
                    letter-spacing: -0.022rem;
                    // line-height: 1.5625vw;
                    line-height: 3rem;
                }
                .wrap {
                    // padding-top: 0.83vw;
                    padding-top: 1.6rem;
                    p {
                        color: $white;
                        // font-size: 2.5vw;
                        font-size: 4.8rem;
                        font-weight: 700;
                        letter-spacing: -0.022rem;
                        // line-height: 3.125vw;
                        line-height: 6rem;
                    }
                }
            }
        }
        &.slide {
            .txt-wrap {
                top: 31%;
                left: 15.42%;
                span {
                    font-weight: 700;
                }
                .wrap {
                    p {
                        font-weight: 400;
                    }
                }
            }
            .img-wrap {
                position: absolute;
                
            }
            // background-attachment: fixed;
            // background-size: contain;
            // background-color: $white;
            &.slide01 {
                background: url(../../assets/images/common/travel_bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $white;
                .img-wrap {
                    // width: 38.4375vw;
                    max-width: 73.8rem;
                    width: 100%;
                    // height: 31.51vw;
                    // height: 60.5rem;
                    height: auto;
                    top: 29.25%;
                    right: 1.98%;
                }
            }
            &.slide02 {
                background: url(../../assets/images/common/cargo_bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $white;     
                .img-wrap {
                    // width: 47.8645vw;
                    max-width: 91.9rem;
                    width: 100%;
                    // height: 38.17vw;
                    // height: 73.3rem;
                    height: auto;
                    top: 20.89%;
                    right: 1.53%;
                }
            }
            &.slide03 {
                background: url(../../assets/images/common/oil_bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $white;
                .img-wrap {
                    // width: 39.42vw;
                    max-width: 75.7rem;
                    width: 100%;
                    // height: 35.2vw;
                    // height: 67.6rem;
                    height: auto;
                    top: 20.34%;
                    right: 2.26%;
                }
            }
            &.slide04 {
                background: url(../../assets/images/common/maintain_bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $white;
                .img-wrap {
                    // width: 43.8vw;
                    max-width: 84.1rem;
                    width: 100%;
                    // height: 27.29vw;
                    // height: 52.4rem;
                    height: auto;
                    top: 32.32%;
                    right: 7.34%;
                }
            }
        }
        &.fixed {
            opacity: 0.5;
        }
    }
}
.content-bottom {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all 0.3s;
    background-color: $white;
    padding-bottom: 19rem;
    .esg-intro {
        width: 100vw;
        min-height: 100vh;
        background: url(../../assets/images/common/KAS_bg.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        // transition: all 1s;
        // &.on {
        //     opacity: 1;
        // }
        .txt-wrap {
            opacity: 0;
            p {
                color: $black;
                font-size: 6.25vw;
                font-weight: 700;
                line-height: 7.8125vw;
                letter-spacing: -0.02rem;
            }
            > div {
                padding-top: 3.125vw;
                display: flex;
                flex-direction: column;
                span {
                    text-align: center;
                    color: $black;
                    font-size: 3.54vw;
                    font-weight: 700;
                    line-height: 4.167vw;
                    letter-spacing: -0.022rem;
                }
            } 
        }
        
    }
    .esg-wrap {
        width: 100%;
        max-width: 192rem;
        height: auto;
        margin: 0 auto;
        display: flex;
        position: relative;
        padding: 16rem 13.5% 16rem 0;
        .wrap-inner {
            display:flex;
            align-items: flex-start;
            position: relative;
            gap:7.6rem;
            .left {
                position: sticky;
                top: 20rem;
                left: 0;
            }
        }
        // .esg-left {
        //     position: relative;
        //     width: 39.79vw;
        //     height: 46.875vw;
        //     background-image: url(../../assets/images/common/esg_bg.png);
        //     background-size: contain;
        //     background-position: center;
        //     background-repeat: no-repeat;
        // }
        // .esg-right {

        // }
        
    }
    .contact-wrap {
        width: calc(100% - 40px);
        max-width: 160rem;
        margin: 0 auto;
        .title {
            color: $black;
            font-size: 3.54vw;
            font-weight: 700;
            line-height: 4.58vw;
            letter-spacing: -0.02rem;
        }
        .contact {
            padding-top: 2.083vw;
            display: flex;
            gap: 2.7vw;
            > div {
                width: calc(100% / 2 - 25px);
                transition: all 0.3s;
                position: relative;
                z-index: 1;
                .bg{
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: 40px;
                    position: absolute;
                    right: -2rem;
                    bottom: -2rem;
                    z-index: -1;

                }
                &.hire{
                    .txt-wrap{
                        background: $white url(/typeB/assets/images/icon/contact_hire_icon.svg) no-repeat right 38px bottom 38px/ 18rem;
                    }
                    .bg{background: #CFF2F4;}
                }
                &.help{
                    .txt-wrap{
                        background: $white url(/typeB/assets/images/icon/contact_help_icon.svg) no-repeat right 38px bottom 38px/ 22rem;
                    }
                    .bg{background: #FFFF90;}
                }
                .txt-wrap {
                    width: 100%;
                    height: 40rem;
                    padding: 6rem 4.4rem;
                    border: 1px solid $black;
                    border-radius: 40px;
                    position: relative;
                    z-index: 1;
                    &:hover {
                        // height: 22.916vw;
                        .txt-hide {
                            height: 3rem;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    span {
                        color: $black;
                        font-size: 1.25vw;
                        font-weight: 700;
                        line-height: 1.5625vw;
                        letter-spacing: -0.02rem;
                    }
                    p {
                        color: $black;
                        font-size: 2.5vw;
                        font-weight: 400;
                        line-height: 3.125vw;
                        letter-spacing: -0.02rem;
                    }
                    .txt-hide {
                        // padding-top: 0.83vw;
                        height: 0;
                        visibility: hidden;
                        opacity: 0;
                        margin-top: 1.6rem;
                        color: $black;
                        font-size: 0.9375vw;
                        font-weight: 400;
                        line-height: 1.5625vw;
                        letter-spacing: -0.02rem;
                        transition: height 0.3s;
                    }
                    a {
                        padding-top: 1.25vw;
                    }
                }
                .img-wrap {
                    position: absolute;
                    right: 2.083vw;
                    bottom: 2.083vw;
                }

                // &.hire {
                //     padding-top: 4.16vw;
                //     padding-left: 3.125vw;
                    
                //     .img-wrap {
                //         width: 10.416vw;
                //         height: 10.625vw;
                //     }
                // }
                // &.help {
                //     padding-top: 2.083vw;
                //     padding-left: 4.16vw;
                //     .img-wrap {
                //         width: 12.395vw;
                //         height: 9.0625vw;
                //     }
                // }
            }
        }
    }
    &.fixed {
        opacity: 0.5;
    }
}

// p {
// position: absolute;
// bottom: 10vw;
// right: 10vw;
// width: 200px;
// line-height: 1.5;
// }
