@charset "UTF-8";
body {
  font-size: 1.6rem;
  font-weight: 400;
}

body.fixed {
  width: 100vw;
  height: 100vh;
  z-index: 95;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* color */
/* icon */
/* 애니메이션 딜레이 */
.ani-stop {
  visibility: hidden;
  -webkit-animation-name: none !important;
  animation-name: none !important;
}

.ani-delay005 {
  -webkit-animation-delay: .05s !important;
  animation-delay: .05s !important;
}

.ani-delay01 {
  -webkit-animation-delay: .1s !important;
  animation-delay: .1s !important;
}

.ani-delay015 {
  -webkit-animation-delay: .15s !important;
  animation-delay: .15s !important;
}

.ani-delay02 {
  -webkit-animation-delay: .2s !important;
  animation-delay: .2s !important;
}

.ani-delay025 {
  -webkit-animation-delay: .25s !important;
  animation-delay: .25s !important;
}

.ani-delay03 {
  -webkit-animation-delay: .3s !important;
  animation-delay: .3s !important;
}

.ani-delay035 {
  -webkit-animation-delay: .35s !important;
  animation-delay: .35s !important;
}

.ani-delay04 {
  -webkit-animation-delay: .4s !important;
  animation-delay: .4s !important;
}

.ani-delay045 {
  -webkit-animation-delay: .45s !important;
  animation-delay: .45s !important;
}

.ani-delay05 {
  -webkit-animation-delay: .5s !important;
  animation-delay: .5s !important;
}

.ani-delay06 {
  -webkit-animation-delay: .6s !important;
  animation-delay: .6s !important;
}

.ani-delay07 {
  -webkit-animation-delay: .7s !important;
  animation-delay: .7s !important;
}

.ani-delay075 {
  -webkit-animation-delay: .75s !important;
  animation-delay: .75s !important;
}

.ani-delay08 {
  -webkit-animation-delay: .8s !important;
  animation-delay: .8s !important;
}

.ani-delay09 {
  -webkit-animation-delay: .9s !important;
  animation-delay: .9s !important;
}

.ani-delay10 {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

/* header */
#header {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}

#header .header-inner {
  width: calc(100% - 32rem);
  max-width: 160rem;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-inner .menu {
  width: 100%;
  max-width: 20.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding: 2.4rem 0;
  z-index: 101;
}

#header .nav-wrap {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 80.8rem;
  height: 100%;
  background-color: transparent;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  z-index: 100;
  -webkit-box-shadow: -4px 4px 20px 0px #00000014;
          box-shadow: -4px 4px 20px 0px #00000014;
}

#header .nav-wrap.active {
  right: 0;
}

#header .nav-wrap nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#header .nav-wrap nav .nav-left {
  width: 100%;
  max-width: 40.8rem;
  padding-top: 11.2rem;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

#header .nav-wrap nav .nav-left .depth01-list {
  height: 100%;
  max-height: 42rem;
  padding-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}

#header .nav-wrap nav .nav-left .depth01-list li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#header .nav-wrap nav .nav-left .depth01-list li a span {
  position: relative;
  font-size: 3.2rem;
  color: #AEAEAE;
  font-weight: 700;
  line-height: 1.25;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header .nav-wrap nav .nav-left .depth01-list li a span::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -2.4rem;
  right: 0;
  margin-left: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../../assets/images/icon/depth01_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header .nav-wrap nav .nav-left .depth01-list li:hover a span, #header .nav-wrap nav .nav-left .depth01-list li.active a span {
  font-size: 4.8rem;
  color: #000;
}

#header .nav-wrap nav .nav-left .depth01-list li:hover a span:after, #header .nav-wrap nav .nav-left .depth01-list li.active a span:after {
  opacity: 1;
}

#header .nav-wrap nav .nav-left .service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-left: 6rem;
}

#header .nav-wrap nav .nav-left .customer-center {
  width: 100%;
  max-width: 33.6rem;
  margin: 0 auto;
  background-color: #FFED8D;
  border-radius: 20px;
  padding: 2.4rem 3.4rem 2.4rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

#header .nav-wrap nav .nav-left .customer-center .title {
  color: #000;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3rem;
}

#header .nav-wrap nav .nav-left .customer-center .customer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav-wrap nav .nav-left .customer-center .customer-menu .bar {
  width: 1px;
  height: 2rem;
  background-color: #000;
  margin: 0 1.6rem;
}

#header .nav-wrap nav .nav-left .customer-center .customer-menu div a span {
  letter-spacing: -0.2rem;
  white-space: nowrap;
}

#header .nav-wrap nav .nav-right {
  width: 100%;
  max-width: 40rem;
  padding: 11.2rem 0 0 6rem;
  background-color: #2B2C45;
}

#header .nav-wrap nav .nav-right .depth02-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

#header .nav-wrap nav .nav-right .depth02-list div a span {
  font-size: 2.4rem;
  color: #FFF;
  font-weight: 500;
  line-height: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header .nav-wrap nav .nav-right .depth02-list.hide {
  display: none;
}

#header .nav-wrap nav .nav-right .depth02-list.show {
  display: block;
}

/* gnb 우측 버튼*/
.language a span {
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.language a span::after {
  content: '';
  display: inline-block;
  margin-left: 0.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/language_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.language.active a span {
  color: #FFF;
}

.language.active a span::after {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/language_icon_hover.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ham-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ham-btn-wrap > span {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 0.8rem;
}

.ham-btn-wrap .ham-btn {
  margin: 0.2rem 0;
  width: 3.2rem;
  height: 2.8rem;
  position: relative;
  display: inline-block;
}

.ham-btn-wrap .ham-btn > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ham-btn-wrap .ham-btn > span:nth-of-type(1) {
  top: 0;
}

.ham-btn-wrap .ham-btn > span:nth-of-type(2) {
  top: 1.2rem;
  width: 62.5%;
}

.ham-btn-wrap .ham-btn > span:nth-of-type(3) {
  bottom: 0;
}

.ham-btn-wrap.active > span {
  color: #FFF;
}

.ham-btn-wrap.active .ham-btn span {
  background-color: #FFF;
}

.ham-btn-wrap.active .ham-btn span:nth-of-type(1) {
  -webkit-transform: translateY(1.2rem) rotate(-45deg);
          transform: translateY(1.2rem) rotate(-45deg);
}

.ham-btn-wrap.active .ham-btn span:nth-of-type(2) {
  opacity: 0;
}

.ham-btn-wrap.active .ham-btn span:nth-of-type(3) {
  -webkit-transform: translateY(-1.2rem) rotate(45deg);
          transform: translateY(-1.2rem) rotate(45deg);
}

/* gnb depth01 아이콘 */
.search a span {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3.8rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #000;
}

.search a span::after {
  content: '';
  display: inline-block;
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/search_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tracking a {
  position: relative;
}

.tracking a span {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3.8rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #000;
}

.tracking a span::after {
  content: '';
  display: inline-block;
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/open_new_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.qna a {
  position: relative;
}

.qna a span {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.2rem;
}

.qna a span::after {
  content: '';
  display: inline-block;
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/contact_support_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.question a {
  position: relative;
}

.question a span {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.2rem;
}

.question a span::after {
  content: '';
  display: inline-block;
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/write_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.detail {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 2.083vw;
  letter-spacing: -0.02rem;
}

.detail::after {
  content: '';
  display: inline;
  width: 2.083vw;
  height: 2.083vw;
  background-image: url(../../assets/images/icon/detail_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0.416vw;
}

#footer {
  width: 100%;
  height: 100%;
  max-height: 62.5rem;
  margin: 19rem auto 0;
  background-color: #2B2C45;
  border-radius: 40px;
}

#footer .footer-inner {
  width: 90%;
  border: 1px solid #fff;
  padding: 6rem 16.2rem 3.5rem 13.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-inner .footer-middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer-inner .footer-middle .footer-left .service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#footer .footer-inner .footer-middle .footer-left .service-wrap .search a span {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

#footer .footer-inner .footer-middle .footer-left .service-wrap .search a span::after {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/search_icon_white.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#footer .footer-inner .footer-middle .footer-left .service-wrap .tracking a span {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

#footer .footer-inner .footer-middle .footer-left .service-wrap .tracking a span::after {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../assets/images/icon/open_new_icon_white.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#footer .footer-inner .footer-middle .footer-right {
  width: 100%;
  max-width: 90rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-inner .footer-middle .footer-right .depth01.menu01 {
  width: 10rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01.menu02 {
  margin-left: 3.6rem;
  width: 6.1rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01.menu03 {
  margin-left: 7.5rem;
  width: 8.3rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01.menu04 {
  margin-left: 5.3rem;
  width: 7.1rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01.menu05 {
  margin-left: 6.5rem;
  width: 8.4rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01.menu06 {
  margin-left: 5.2rem;
  width: 10.4rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01.menu07 {
  margin-left: 3.2rem;
  width: 7.8rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01 > li {
  white-space: nowrap;
}

#footer .footer-inner .footer-middle .footer-right .depth01 > li .depth01-item {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: -0.02rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01 > li .depth02-list {
  padding-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

#footer .footer-inner .footer-middle .footer-right .depth01 > li .depth02-list li a span {
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: -0.02rem;
}
