@charset "UTF-8";
body {
  font-size: 1.6rem;
  font-weight: 400;
}

body.fixed {
  width: 100vw;
  height: 100vh;
  z-index: 95;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* color */
/* icon */
/* 애니메이션 딜레이 */
.ani-stop {
  visibility: hidden;
  -webkit-animation-name: none !important;
  animation-name: none !important;
}

.ani-delay005 {
  -webkit-animation-delay: .05s !important;
  animation-delay: .05s !important;
}

.ani-delay01 {
  -webkit-animation-delay: .1s !important;
  animation-delay: .1s !important;
}

.ani-delay015 {
  -webkit-animation-delay: .15s !important;
  animation-delay: .15s !important;
}

.ani-delay02 {
  -webkit-animation-delay: .2s !important;
  animation-delay: .2s !important;
}

.ani-delay025 {
  -webkit-animation-delay: .25s !important;
  animation-delay: .25s !important;
}

.ani-delay03 {
  -webkit-animation-delay: .3s !important;
  animation-delay: .3s !important;
}

.ani-delay035 {
  -webkit-animation-delay: .35s !important;
  animation-delay: .35s !important;
}

.ani-delay04 {
  -webkit-animation-delay: .4s !important;
  animation-delay: .4s !important;
}

.ani-delay045 {
  -webkit-animation-delay: .45s !important;
  animation-delay: .45s !important;
}

.ani-delay05 {
  -webkit-animation-delay: .5s !important;
  animation-delay: .5s !important;
}

.ani-delay06 {
  -webkit-animation-delay: .6s !important;
  animation-delay: .6s !important;
}

.ani-delay07 {
  -webkit-animation-delay: .7s !important;
  animation-delay: .7s !important;
}

.ani-delay075 {
  -webkit-animation-delay: .75s !important;
  animation-delay: .75s !important;
}

.ani-delay08 {
  -webkit-animation-delay: .8s !important;
  animation-delay: .8s !important;
}

.ani-delay09 {
  -webkit-animation-delay: .9s !important;
  animation-delay: .9s !important;
}

.ani-delay10 {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

#main {
  width: 100%;
}

#main .hero-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../../assets/images/common/hero_bg_white.png) no-repeat center bottom/100%;
  background-attachment: fixed;
  background-size: cover;
}

#main .hero-wrap #hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

#main .hero-wrap #hero .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 25.6%;
  left: 7.7%;
}

#main .hero-wrap #hero .content > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
  color: #000;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  height: 4.8rem;
}

#main .hero-wrap #hero .content > p > span {
  color: #000;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.011rem;
}

#main .hero-wrap #hero .txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.3rem;
}

#main .hero-wrap #hero .txt-wrap .txt {
  color: #000;
  font-size: 20rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.5rem;
}

#main .hero-wrap #heroSlide {
  width: 100%;
  height: 100vh;
}

#main .hero-wrap #heroSlide > div {
  width: 100%;
  height: 100vh;
  position: relative;
}

#main .hero-wrap #heroSlide > div.slide01-wrap {
  background: url(../../assets/images/common/hero_bg_black.png) no-repeat center bottom/100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
}

#main .hero-wrap #heroSlide > div.slide01-wrap .slide01 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 27.2%;
  left: 15.55%;
}

#main .hero-wrap #heroSlide > div.slide01-wrap .slide01 .txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .hero-wrap #heroSlide > div.slide01-wrap .slide01 .txt-wrap span {
  color: #FFF;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 3rem;
}

#main .hero-wrap #heroSlide > div.slide01-wrap .slide01 .txt-wrap .wrap {
  padding-top: 1.6rem;
}

#main .hero-wrap #heroSlide > div.slide01-wrap .slide01 .txt-wrap .wrap p {
  color: #FFF;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 6rem;
}

#main #container {
  width: calc(100% - 32rem);
  max-width: 160rem;
  height: auto;
  margin: 0 auto;
}
#main #container .esg-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main #container .contact-wrap {
  width: 100%;
}
#main #container .contact-wrap .title {
  color: #000;
  font-size: 6.8rem;
  font-weight: 700;
  line-height: 8.8rem;
  letter-spacing: -0.02rem;
}
#main #container .contact-wrap .contact {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.25%;
}
#main #container .contact-wrap .contact > div {
  width: 100%;
  height: auto;
}
#main #container .contact-wrap .contact > div a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main #container .contact-wrap .contact > div.hire a .img-wrap.no-info {
  display: block;
}
#main #container .contact-wrap .contact > div.hire a .img-wrap.info {
  display: none;
}
#main #container .contact-wrap .contact > div.hire:hover a .img-wrap.no-info {
  display: none;
}
#main #container .contact-wrap .contact > div.hire:hover a .img-wrap.info {
  display: block;
}

