@charset "UTF-8";
body {
  font-size: 1.6rem;
  font-weight: 400;
}

body.fixed {
  width: 100vw;
  height: 100vh;
  z-index: 95;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* color */
/* icon */
/* 애니메이션 딜레이 */
.ani-stop {
  visibility: hidden;
  -webkit-animation-name: none !important;
  animation-name: none !important;
}

.ani-delay005 {
  -webkit-animation-delay: .05s !important;
  animation-delay: .05s !important;
}

.ani-delay01 {
  -webkit-animation-delay: .1s !important;
  animation-delay: .1s !important;
}

.ani-delay015 {
  -webkit-animation-delay: .15s !important;
  animation-delay: .15s !important;
}

.ani-delay02 {
  -webkit-animation-delay: .2s !important;
  animation-delay: .2s !important;
}

.ani-delay025 {
  -webkit-animation-delay: .25s !important;
  animation-delay: .25s !important;
}

.ani-delay03 {
  -webkit-animation-delay: .3s !important;
  animation-delay: .3s !important;
}

.ani-delay035 {
  -webkit-animation-delay: .35s !important;
  animation-delay: .35s !important;
}

.ani-delay04 {
  -webkit-animation-delay: .4s !important;
  animation-delay: .4s !important;
}

.ani-delay045 {
  -webkit-animation-delay: .45s !important;
  animation-delay: .45s !important;
}

.ani-delay05 {
  -webkit-animation-delay: .5s !important;
  animation-delay: .5s !important;
}

.ani-delay06 {
  -webkit-animation-delay: .6s !important;
  animation-delay: .6s !important;
}

.ani-delay07 {
  -webkit-animation-delay: .7s !important;
  animation-delay: .7s !important;
}

.ani-delay075 {
  -webkit-animation-delay: .75s !important;
  animation-delay: .75s !important;
}

.ani-delay08 {
  -webkit-animation-delay: .8s !important;
  animation-delay: .8s !important;
}

.ani-delay09 {
  -webkit-animation-delay: .9s !important;
  animation-delay: .9s !important;
}

.ani-delay10 {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.container #hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../../assets/images/common/hero_bg_white.png) no-repeat center bottom/100%;
  background-attachment: fixed;
  background-size: cover;
}

.container #hero .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 25.6%;
  left: 7.7%;
}

.container #hero .content > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.04vw;
  color: #000;
  font-size: 1.25vw;
  font-weight: 500;
  letter-spacing: -0.02rem;
  height: 2.5vw;
}

.container #hero .content > p > span {
  color: #000;
  font-size: 1.67vw;
  font-weight: 700;
  letter-spacing: -0.011rem;
}

.container #hero .txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.6vw;
}

.container #hero .txt-wrap .txt {
  color: #000;
  font-size: 10.41vw;
  font-weight: 700;
  letter-spacing: -0.02rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.9vw;
}

.container #hero .txt-wrap .txt.txt-img .img-wrap img {
  max-width: 12.65625vw;
}

body {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

section:not(#sectionPin) {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
}

.pin-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pin-wrap > * {
  min-width: 100vw;
}

.pin-wrap .slide-list {
  height: 100vh;
  min-width: 100vw;
  position: relative;
}

.pin-wrap .slide-list .txt-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pin-wrap .slide-list .txt-wrap span {
  color: #000;
  font-size: 1.25vw;
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 1.5625vw;
}

.pin-wrap .slide-list .txt-wrap .wrap {
  padding-top: 0.83vw;
}

.pin-wrap .slide-list .txt-wrap .wrap p {
  color: #000;
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 3.125vw;
}

.pin-wrap .slide-list .txt-wrap a {
  padding-top: 1.25vw;
}

.pin-wrap .slide-list.main {
  background: url(../../assets/images/common/hero_bg_black.png) no-repeat center bottom/100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
}

.pin-wrap .slide-list.main .txt-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 23.62%;
  left: 15.42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pin-wrap .slide-list.main .txt-wrap span {
  color: #FFF;
  font-size: 1.25vw;
  font-weight: 500;
  letter-spacing: -0.022rem;
  line-height: 1.5625vw;
}

.pin-wrap .slide-list.main .txt-wrap .wrap {
  padding-top: 0.83vw;
}

.pin-wrap .slide-list.main .txt-wrap .wrap p {
  color: #FFF;
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: -0.022rem;
  line-height: 3.125vw;
}

.pin-wrap .slide-list.slide {
  background-attachment: fixed;
  background-size: contain;
  background-color: #FFF;
}

.pin-wrap .slide-list.slide .txt-wrap {
  top: 31%;
  left: 15.42%;
}

.pin-wrap .slide-list.slide .txt-wrap span {
  font-weight: 700;
}

.pin-wrap .slide-list.slide .txt-wrap .wrap p {
  font-weight: 400;
}

.pin-wrap .slide-list.slide .img-wrap {
  position: absolute;
}

.pin-wrap .slide-list.slide.slide01 {
  background: url(../../assets/images/common/travel_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pin-wrap .slide-list.slide.slide01 .img-wrap {
  width: 38.4375vw;
  height: 31.51vw;
  top: 29.25%;
  right: 1.98%;
}

.pin-wrap .slide-list.slide.slide02 {
  background: url(../../assets/images/common/cargo_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pin-wrap .slide-list.slide.slide02 .img-wrap {
  width: 47.8645vw;
  height: 38.17vw;
  top: 20.89%;
  right: 1.53%;
}

.pin-wrap .slide-list.slide.slide03 {
  background: url(../../assets/images/common/oil_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pin-wrap .slide-list.slide.slide03 .img-wrap {
  width: 39.42vw;
  height: 35.2vw;
  top: 20.34%;
  right: 2.26%;
}

.pin-wrap .slide-list.slide.slide04 {
  background: url(../../assets/images/common/maintain_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pin-wrap .slide-list.slide.slide04 .img-wrap {
  width: 43.8vw;
  height: 27.29vw;
  top: 32.32%;
  right: 7.34%;
}

.content-bottom {
  width: 100%;
  height: auto;
}

.content-bottom .esg-intro {
  width: 100vw;
  min-height: 100vh;
  background: url(../../assets/images/common/KAS_bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-bottom .esg-intro .txt-wrap p {
  color: #000;
  font-size: 6.25vw;
  font-weight: 700;
  line-height: 7.8125vw;
  letter-spacing: -0.02rem;
}

.content-bottom .esg-intro .txt-wrap > div {
  padding-top: 3.125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-bottom .esg-intro .txt-wrap > div span {
  text-align: center;
  color: #000;
  font-size: 3.54vw;
  font-weight: 700;
  line-height: 4.167vw;
  letter-spacing: -0.022rem;
}

.content-bottom .esg-wrap {
  width: 100%;
  max-width: 192rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content-bottom .contact-wrap {
  width: calc(100% - 32rem);
  max-width: 160rem;
  margin: 0 auto;
}

.content-bottom .contact-wrap .title {
  color: #000;
  font-size: 3.54vw;
  font-weight: 700;
  line-height: 4.58vw;
  letter-spacing: -0.02rem;
}

.content-bottom .contact-wrap .contact {
  padding-top: 2.083vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.7vw;
}

.content-bottom .contact-wrap .contact > div {
  width: 39.79vw;
  height: 20.83vw;
  border: 2px solid #000;
  border-radius: 40px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content-bottom .contact-wrap .contact > div .img-wrap {
  position: absolute;
  right: 2.083vw;
  bottom: 2.083vw;
}
.content-bottom .contact-wrap .contact > div:hover {
  height: 22.916vw;
}
.content-bottom .contact-wrap .contact > div:hover.hire .txt-wrap .txt-hide {
  opacity: 1;
}
.content-bottom .contact-wrap .contact > div.hire {
  padding-top: 4.16vw;
  padding-left: 3.125vw;
}
.content-bottom .contact-wrap .contact > div.hire .txt-wrap span {
  color: #000;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5625vw;
  letter-spacing: -0.02rem;
}
.content-bottom .contact-wrap .contact > div.hire .txt-wrap p {
  color: #000;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 3.125vw;
  letter-spacing: -0.02rem;
}
.content-bottom .contact-wrap .contact > div.hire .txt-wrap .txt-hide {
  padding-top: 0.83vw;
  color: #000;
  font-size: 0.9375vw;
  font-weight: 400;
  line-height: 1.5625vw;
  letter-spacing: -0.02rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content-bottom .contact-wrap .contact > div.hire .txt-wrap a {
  padding-top: 1.25vw;
}
.content-bottom .contact-wrap .contact > div.hire .img-wrap {
  width: 10.416vw;
  height: 10.625vw;
}
.content-bottom .contact-wrap .contact > div.help {
  padding-top: 2.083vw;
  padding-left: 4.16vw;
}
.content-bottom .contact-wrap .contact > div.help .img-wrap {
  width: 12.395vw;
  height: 9.0625vw;
}