#main {
  width: 100%;
}
#main .hero-wrap {
  width: 192rem;
  height: 100vh;
}
#main .hero-wrap #hero {
  width: 100%;
  height: 100vh;
  background-color: bisque;
}
#main .hero-wrap #heroSlide {
  width: 100%;
  height: 100vh;
}
#main .hero-wrap #heroSlide > div {
  width: 100%;
  height: 100%;
}
#main .hero-wrap #heroSlide > div.slide01 {
  background-color: aquamarine;
}