@charset "UTF-8";
/* 노트북 */
/* 테블릿 */
/* 모바일 */
/* 노트북 */
/* 테블릿 */
/* 모바일 */
@-webkit-keyframes ani01 {
  0% {
    -webkit-transform: translate(80px, 80px);
            transform: translate(80px, 80px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes ani01 {
  0% {
    -webkit-transform: translate(80px, 80px);
            transform: translate(80px, 80px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes scale_ani01 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale_ani01 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale_ani02 {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}

@keyframes scale_ani02 {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}

@-webkit-keyframes position_ani01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes position_ani01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.hide {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}

html {
  font-size: 10px;
}

@media (max-width: 1150px) {
  html {
    font-size: 7.5px;
  }
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "KoddiUD OnGothic";
}

/* header */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

#header .header-wrap {
  height: 10rem;
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}

#header .header-wrap.on {
  height: 49rem;
}

#header .header-wrap .hd-top {
  width: 100%;
  height: 10rem;
  background: #fff;
  border-bottom: 1px solid #D6E2FF;
}

#header .header-wrap .hd-top.on .hd-inner nav .depth1-list > li .depth1 img {
  width: 4rem;
  height: 4rem;
}

#header .header-wrap .hd-top.on .hd-inner nav .depth1-list > li .depth1 span {
  display: block;
}

#header .header-wrap .hd-top.on .hd-inner .lang img {
  width: 4rem;
  height: 4rem;
}

#header .header-wrap .hd-top.on .hd-inner .lang .lang-wrap {
  display: block;
}

#header .header-wrap .hd-top.on .hd-inner .lang .lang-wrap > a {
  font-weight: bold;
  line-height: 3.4rem;
  color: #999;
}

#header .header-wrap .hd-top.on .hd-inner .lang .lang-wrap > a.on {
  color: #000;
}

#header .header-wrap .hd-top.on .hd-inner .lang .lang-wrap > a:not(:last-child)::after {
  content: '/';
  font-weight: bold;
}

#header .header-wrap .hd-top .hd-inner {
  position: relative;
  height: 100%;
  padding: 1.2rem 3rem;
  -webkit-transition: all .35s;
  transition: all .35s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-wrap .hd-top .hd-inner .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-wrap .hd-top .hd-inner .lang img {
  width: 5.6rem;
  height: 5.6rem;
  display: block;
  margin: 0 auto;
}

#header .header-wrap .hd-top .hd-inner .lang .lang-wrap {
  display: none;
}

#header .header-wrap .hd-top .hd-inner .lang .lang-wrap a {
  line-height: 3.4rem;
}

#header .header-wrap .hd-top .hd-inner nav {
  width: 55%;
  max-width: 81.8rem;
  height: 100%;
  position: relative;
  z-index: 10;
}

#header .header-wrap .hd-top .hd-inner nav .depth1-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  gap: 2vw;
}

#header .header-wrap .hd-top .hd-inner nav .depth1-list > li {
  width: calc(100% / 7);
  height: 100%;
  position: relative;
}

#header .header-wrap .hd-top .hd-inner nav .depth1-list > li.on .depth1 img {
  display: none;
}

#header .header-wrap .hd-top .hd-inner nav .depth1-list > li.on .depth1 span {
  opacity: 1;
  visibility: visible;
}

#header .header-wrap .hd-top .hd-inner nav .depth1-list > li .depth1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-wrap .hd-top .hd-inner nav .depth1-list > li .depth1 img {
  width: 6.4rem;
  height: 6.4rem;
  display: block;
  margin: 0 auto;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#header .header-wrap .hd-top .hd-inner nav .depth1-list > li .depth1 span {
  display: none;
  line-height: 3.4rem;
  font-weight: bold;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#header .header-wrap .hd-top .hd-inner nav .depth2-list-wrap {
  margin-top: 5.4rem;
}

#header .header-wrap .hd-top .hd-inner nav .depth2-list-wrap > div {
  display: none;
}

#header .header-wrap .hd-top .hd-inner nav .depth2-list-wrap > div.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-wrap .hd-top .hd-inner nav .depth2-list-wrap > div .depth2-list {
  max-width: 24rem;
  width: calc(100% / 3);
  gap: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#header .header-wrap .hd-top .hd-inner nav .depth2-list-wrap > div .depth2-list > li .depth2 {
  width: 100%;
  padding-left: 1rem;
  line-height: 3.4rem;
  position: relative;
}

#header .header-wrap .hd-top .hd-inner nav .depth2-list-wrap > div .depth2-list > li .depth2::before {
  content: '';
  width: 1px;
  height: 80%;
  background: #D9D9D9;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header .header-wrap .hd-bottom {
  width: 100%;
  height: 390px;
  background: #fff;
  border-right: 1px solid #D6E2FF;
}

#header .header-wrap .hd-bottom .hd-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list {
  width: 100%;
  height: 29rem;
  padding: 1.4rem 3rem 0;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
  min-height: 29rem;
  max-height: 29rem;
  position: relative;
  padding: 0 2.6rem;
  /* 한국공항 */
  /* 사업분야 */
  /* ESG */
  /* 미디어룸 */
  /* 투자정보 */
  /* 인재채용 */
  /* 고객센터 */
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  #header .header-wrap .hd-bottom .hd-inner .nav-list > div {
    padding: 0;
  }
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .depth2-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  max-width: 81.8rem;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .main-tit {
  padding-top: 2.4rem;
  font-size: 3vw;
  font-weight: bold;
  color: #D6E2FF;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .sub-cont {
  width: 22%;
  position: relative;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .sub-cont .icon-motion {
  overflow: hidden;
  width: 17.6rem;
  height: 17.6rem;
  padding: 2.2rem 1.4rem;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .sub-cont .icon-motion .circle, #header .header-wrap .hd-bottom .hd-inner .nav-list > div .sub-cont .icon-motion .rectangle {
  position: absolute;
  background: rgba(214, 226, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 10;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .sub-cont .icon-motion .circle {
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .sub-cont .icon-motion .rectangle {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 10px;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div .sub-cont p {
  line-height: 3.4rem;
  text-align: center;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:first-child .sub-cont .icon-motion img:nth-child(1) {
  width: 90%;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:first-child .sub-cont .icon-motion img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(80px, 80px);
          transform: translate(80px, 80px);
  -webkit-animation: ani01 1.2s both alternate;
          animation: ani01 1.2s both alternate;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(2) .sub-cont .icon-motion img:nth-child(1) {
  width: 60%;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(2) .sub-cont .icon-motion .circle {
  -webkit-animation: scale_ani01 .85s both alternate;
          animation: scale_ani01 .85s both alternate;
  bottom: 1.8rem;
  right: 0;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(3) .sub-cont .icon-motion .circle-01 {
  right: 1rem;
  bottom: 3rem;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-animation: position_ani01 1s both alternate infinite;
          animation: position_ani01 1s both alternate infinite;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(3) .sub-cont .icon-motion .circle-02 {
  left: 1rem;
  top: 2rem;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-animation: position_ani01 1.2s both alternate infinite;
          animation: position_ani01 1.2s both alternate infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(3) .sub-cont .icon-motion .circle-03 {
  width: 2rem;
  height: 2rem;
  left: 3rem;
  bottom: 4rem;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-animation: position_ani01 1.5s both alternate infinite;
          animation: position_ani01 1.5s both alternate infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(3) .sub-cont .icon-motion img:nth-child(1) {
  width: 100%;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(4) .sub-cont .icon-motion .circle {
  position: absolute;
  left: 50%;
  top: 4rem;
  -webkit-transform: scale(0) translateX(-50%);
          transform: scale(0) translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scale_ani02 .8s both alternate;
          animation: scale_ani02 .8s both alternate;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(4) .sub-cont .icon-motion .circle img {
  width: 40%;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(4) .sub-cont .icon-motion img {
  width: 100%;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div {
  width: 9.6rem;
  height: 9.6rem;
  padding: 1.6rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div::after, #header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  position: absolute;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div::after {
  z-index: 1;
  top: 0;
  left: 0;
  background: #0A4FFF;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div::before {
  z-index: 0;
  right: -1rem;
  bottom: -1rem;
  background: rgba(214, 226, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div span {
  width: 1.4rem;
  height: 0;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: height .5s;
  transition: height .5s;
  position: relative;
  z-index: 2;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div span:nth-child(1) {
  -webkit-animation: motion05_01 .8s both alternate;
          animation: motion05_01 .8s both alternate;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div span:nth-child(2) {
  -webkit-animation: motion05_02 .8s both alternate;
          animation: motion05_02 .8s both alternate;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion > div span:nth-child(3) {
  -webkit-animation: motion05_03 .8s both alternate;
          animation: motion05_03 .8s both alternate;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

@-webkit-keyframes motion05_01 {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}

@keyframes motion05_01 {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}

@-webkit-keyframes motion05_02 {
  0% {
    height: 0%;
  }
  100% {
    height: 70%;
  }
}

@keyframes motion05_02 {
  0% {
    height: 0%;
  }
  100% {
    height: 70%;
  }
}

@-webkit-keyframes motion05_03 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes motion05_03 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(5) .sub-cont .icon-motion .rectangle {
  right: 2rem;
  bottom: 2rem;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(6) .sub-cont .icon-motion img {
  position: absolute;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(6) .sub-cont .icon-motion img:nth-child(1) {
  left: 2rem;
  bottom: 2.8rem;
  z-index: 2;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(6) .sub-cont .icon-motion img:nth-child(2) {
  left: 2rem;
  bottom: 2.8rem;
  z-index: 1;
  -webkit-animation: motion06_01 .8s both alternate;
          animation: motion06_01 .8s both alternate;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(6) .sub-cont .icon-motion img:nth-child(3) {
  right: 2rem;
  bottom: 1.4rem;
  z-index: 3;
  opacity: .5;
}

@-webkit-keyframes motion06_01 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(45px, -28px);
            transform: translate(45px, -28px);
  }
}

@keyframes motion06_01 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(45px, -28px);
            transform: translate(45px, -28px);
  }
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(7) .sub-cont .icon-motion img {
  position: absolute;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(7) .sub-cont .icon-motion img:nth-child(1) {
  right: 4rem;
  top: 4rem;
  z-index: 1;
  -webkit-animation: motion07_01 .8s both alternate;
          animation: motion07_01 .8s both alternate;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

#header .header-wrap .hd-bottom .hd-inner .nav-list > div:nth-child(7) .sub-cont .icon-motion img:nth-child(2) {
  left: 1.8rem;
  bottom: 1.8rem;
  z-index: 2;
  opacity: .5;
  -webkit-animation: scale_ani01 .5s both alternate;
          animation: scale_ani01 .5s both alternate;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes motion07_01 {
  0% {
    right: 4rem;
    top: 4rem;
  }
  100% {
    right: 1.8rem;
    top: 2.2rem;
  }
}

@keyframes motion07_01 {
  0% {
    right: 4rem;
    top: 4rem;
  }
  100% {
    right: 1.8rem;
    top: 2.2rem;
  }
}

#header .header-wrap .hd-bottom .hd-inner .additional-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #D6E2FF;
}

#header .header-wrap .hd-bottom .hd-inner .additional-menu > a {
  width: 50%;
  padding: 1.8rem 7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-wrap .hd-bottom .hd-inner .additional-menu > a:not(:last-child) {
  border-right: 1px solid #D6E2FF;
}

#header .header-wrap .hd-bottom .hd-inner .additional-menu > a:last-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#header .header-wrap .hd-bottom .hd-inner .additional-menu > a:last-child img {
  margin-right: 4rem;
}

#header .header-wrap .hd-bottom .hd-inner .additional-menu > a img {
  display: block;
  margin-left: 4rem;
}

#header .header-wrap .hd-bottom .hd-inner .additional-menu > a span {
  font-weight: bold;
  line-height: 3.8rem;
}
