@charset "UTF-8";
/* 노트북 */
/* 테블릿 */
/* 모바일 */
/* 노트북 */
/* 테블릿 */
/* 모바일 */
@-webkit-keyframes ani01 {
  0% {
    -webkit-transform: translate(80px, 80px);
            transform: translate(80px, 80px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes ani01 {
  0% {
    -webkit-transform: translate(80px, 80px);
            transform: translate(80px, 80px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes scale_ani01 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale_ani01 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale_ani02 {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}

@keyframes scale_ani02 {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}

@-webkit-keyframes position_ani01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes position_ani01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.box1 {
  background: darkslategray;
}

.box2 {
  background: crimson;
}

.box3 {
  background: darkorchid;
}

.box_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.box {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

#wrap {
  letter-spacing: -2%;
}

#wrap section {
  width: 100%;
  position: relative;
  border: 1px solid #000;
  background: #fff;
}

#wrap section .con-box {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
}

#wrap section .sec-tit {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.4;
}

#wrap section#mainVisual {
  background: #ddd;
}

#wrap section#mainVisual .visual-top {
  position: relative;
  width: 100%;
}

#wrap section#mainVisual .visual-top .visual-main-tit {
  width: 80%;
  position: absolute;
  top: 25.8rem;
  left: 24rem;
  z-index: 10;
  opacity: 1;
}

#wrap section#mainVisual .visual-top .visual-main-tit > div {
  font-family: "S-Core Dream";
  font-size: 8rem;
  font-weight: 500;
  line-height: 11rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap section#mainVisual .visual-top .visual-main-tit > div:not(.visual-sub-tit) span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  mix-blend-mode: difference;
  -webkit-animation: mainTit .8s both alternate;
          animation: mainTit .8s both alternate;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#wrap section#mainVisual .visual-top .visual-main-tit > div span {
  display: block;
}

@-webkit-keyframes mainTit {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mainTit {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#wrap section#mainVisual .visual-top .visual-main-tit > div.visual-sub-tit {
  opacity: 0;
}

#wrap section#mainVisual .bg-list {
  width: 100%;
  background: #eee;
  position: relative;
  z-index: 9;
}

#wrap section#mainVisual .bg-list > div {
  position: absolute;
  top: 0;
  left: 0;
}

#wrap section#mainVisual .bg-list .opacity-con {
  border: 1px solid red;
}

#wrap section#mainVisual .bg-list .opacity-con.opacity-con01 {
  z-index: 1;
}

#wrap section#mainVisual .bg-list .opacity-con.opacity-con02 {
  z-index: 2;
}

#wrap section#mainVisual .bg-list .opacity-con.opacity-con03 {
  z-index: 3;
}

#wrap section#mainVisual .bg-list .opacity-con .visula-img {
  width: 100%;
}

#wrap section#countNum {
  margin-top: 16rem;
}

#wrap section#countNum .sec-cont {
  margin-top: 14.2rem;
}

#wrap section#countNum .sec-cont .main-about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-num-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap {
  height: 28rem;
  overflow: hidden;
  margin: 0 -2%;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap .count-num-item-box {
  -webkit-animation: count-up-ani 3s forwards;
          animation: count-up-ani 3s forwards;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap .count-num-item-box.down {
  -webkit-animation: count-down-ani 3s forwards;
          animation: count-down-ani 3s forwards;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap .count-num-item-box .count-num-item {
  font-weight: 800;
  font-size: 20rem;
  line-height: 1.4;
  color: #0A4FFF;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap.unit-wrap {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap.unit-wrap .unit {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222;
  vertical-align: baseline;
}

#wrap section#countNum .sec-cont .main-about-list > li .count-sub-tit {
  display: block;
  font-size: 2.4rem;
  text-align: center;
}

@-webkit-keyframes count-up-ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
}

@keyframes count-up-ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
}

@-webkit-keyframes count-down-ani {
  0% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes count-down-ani {
  0% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
