@charset "UTF-8";
/* 노트북 */
/* 테블릿 */
/* 모바일 */
/* 노트북 */
/* 테블릿 */
/* 모바일 */
@-webkit-keyframes ani01 {
  0% {
    -webkit-transform: translate(80px, 80px);
            transform: translate(80px, 80px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes ani01 {
  0% {
    -webkit-transform: translate(80px, 80px);
            transform: translate(80px, 80px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes scale_ani01 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale_ani01 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale_ani02 {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}
@keyframes scale_ani02 {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}
@-webkit-keyframes position_ani01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes position_ani01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
#wrap {
  letter-spacing: -2%;
  line-height: 1.4;
}
#wrap section {
  width: 100%;
  position: relative;
  background: #fff;
}
#wrap section .con-box {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
}
#wrap section .sec-tit {
  font-size: 4rem;
  font-weight: bold;
}
#wrap section#mainVisual {
  background: #ddd;
}
#wrap section#mainVisual .visual-top {
  position: relative;
  width: 100%;
}
#wrap section#mainVisual .visual-top .visual-main-tit {
  width: 80%;
  position: absolute;
  top: 25.8rem;
  left: 24rem;
  z-index: 10;
  opacity: 1;
}
#wrap section#mainVisual .visual-top .visual-main-tit > div {
  font-family: "S-Core Dream";
  font-size: 8rem;
  font-weight: 500;
  line-height: 11rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrap section#mainVisual .visual-top .visual-main-tit > div:not(.visual-sub-tit) span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  mix-blend-mode: difference;
  -webkit-animation: mainTit 0.8s both alternate;
          animation: mainTit 0.8s both alternate;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#wrap section#mainVisual .visual-top .visual-main-tit > div span {
  display: block;
}
@-webkit-keyframes mainTit {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes mainTit {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
#wrap section#mainVisual .visual-top .visual-main-tit > div.visual-sub-tit {
  opacity: 0;
}
#wrap section#mainVisual .bg-list {
  width: 100%;
  background: #eee;
  position: relative;
  z-index: 9;
}
#wrap section#mainVisual .bg-list > div {
  position: absolute;
  top: 0;
  left: 0;
}
#wrap section#mainVisual .bg-list .opacity-con.opacity-con01 {
  z-index: 1;
}
#wrap section#mainVisual .bg-list .opacity-con.opacity-con02 {
  z-index: 2;
}
#wrap section#mainVisual .bg-list .opacity-con.opacity-con03 {
  z-index: 3;
}
#wrap section#mainVisual .bg-list .opacity-con .visula-img {
  width: 100%;
}
#wrap section#countNum {
  padding: 16rem 0 20rem;
}
#wrap section#countNum .sec-cont {
  margin-top: 14.2rem;
}
#wrap section#countNum .sec-cont .main-about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4%;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-num-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap {
  height: 28rem;
  overflow: hidden;
  margin: 0 -2%;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap .count-num-item-box.on {
  -webkit-animation: count-up-ani 3s forwards;
          animation: count-up-ani 3s forwards;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap .count-num-item-box.on.down {
  -webkit-animation: count-down-ani 3s forwards;
          animation: count-down-ani 3s forwards;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap .count-num-item-box .count-num-item {
  font-weight: 800;
  font-size: 20rem;
  color: #0A4FFF;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap.unit-wrap {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-num-box .count-num-item-wrap.unit-wrap .unit {
  padding-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: #222;
  vertical-align: baseline;
}
#wrap section#countNum .sec-cont .main-about-list > li .count-sub-tit {
  display: block;
  font-size: 2.4rem;
  text-align: center;
}
@-webkit-keyframes count-up-ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
}
@keyframes count-up-ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
}
@-webkit-keyframes count-down-ani {
  0% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes count-down-ani {
  0% {
    -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
#wrap section#business .business-swiper {
  width: 100%;
}
#wrap section#business .business-swiper .swiper-slide {
  width: 100%;
  position: relative;
}
#wrap section#business .business-swiper .swiper-slide .bg-img {
  width: 100%;
}
#wrap section#business .business-swiper .swiper-slide .business-info {
  width: 80%;
  max-width: 1440px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#wrap section#business .business-swiper .swiper-slide .business-info * {
  color: #fff;
}
#wrap section#business .business-swiper .swiper-slide .business-info > div {
  width: 100%;
  max-width: 44.2rem;
}
#wrap section#business .business-swiper .swiper-slide .business-info > div .business-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#business .business-swiper .swiper-slide .business-info > div .business-tit strong {
  font-weight: 800;
  font-size: 4rem;
}
#wrap section#business .business-swiper .swiper-slide .business-info > div .business-tit span {
  margin-left: 1.6rem;
  font-size: 2.8rem;
  display: inline-block;
  color: #BBBBBB;
}
#wrap section#business .business-swiper .swiper-slide .business-info > div .business-tit + p {
  margin: 3.2rem 0 2.4rem;
  display: block;
  font-size: 1.8rem;
  line-height: 1.6;
}
#wrap section#business .business-swiper .swiper-controls {
  width: calc(100% - 40px);
  max-width: 1728px;
  height: 4.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
#wrap section#business .business-swiper .swiper-controls .swiper-button-next, #wrap section#business .business-swiper .swiper-controls .swiper-button-prev {
  width: 4.8rem;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}
#wrap section#business .business-swiper .swiper-controls .swiper-button-next::after, #wrap section#business .business-swiper .swiper-controls .swiper-button-prev::after {
  display: none;
}
#wrap section#business .business-swiper .swiper-controls .swiper-button-prev {
  background: url(/typeA/assets/images/icon/prev_arrow_icon.png) no-repeat center/25%;
}
#wrap section#business .business-swiper .swiper-controls .swiper-button-next {
  background: url(/typeA/assets/images/icon/next_arrow_icon.png) no-repeat center/25%;
}
#wrap section#business .business-swiper .swiper-pagination {
  width: calc(100% - 40px);
  max-width: 1440px;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 2px solid #D9D9D9;
}
#wrap section#business .business-swiper .swiper-pagination-bullet {
  width: 25%;
  height: 100%;
  border-radius: 0;
  background: inherit;
  margin: 0;
  opacity: 1;
  position: relative;
}
#wrap section#business .business-swiper .swiper-pagination-bullet::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
}
#wrap section#business .business-swiper .swiper-pagination-bullet span {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#business .business-swiper .swiper-pagination-bullet-active::after {
  background: #0A4FFF;
}
#wrap section#business .business-swiper .swiper-pagination-bullet-active span {
  color: #fff;
}
#wrap section#esg {
  padding: 8rem 0 10.4rem;
}
#wrap section#esg::after {
  content: "";
  width: 100vw;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#E7EFFF));
  background: linear-gradient(rgba(0, 0, 0, 0), #E7EFFF);
}
#wrap section#esg .con-box .esg-tit-list {
  margin-top: 4rem;
}
#wrap section#esg .con-box .esg-tit-list > div {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#esg .con-box .esg-tit-list > div.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrap section#esg .con-box .esg-tit-list > div > strong {
  font-weight: bold;
  font-size: 2.8rem;
  margin-right: 6.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#esg .con-box .esg-tit-list > div > strong::after {
  content: "";
  height: 1px;
  width: 2rem;
  display: inline-block;
  margin-left: 2rem;
  background: #0A4FFF;
}
#wrap section#esg .con-box .esg-tit-list > div > span {
  font-size: 2.4rem;
}
#wrap section#esg .con-box .sec-cont {
  margin-top: 10.4rem;
}
#wrap section#esg .con-box .sec-cont .esg-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#esg .con-box .sec-cont .esg-list > li {
  width: 19.8rem;
  height: 19.8rem;
  border-radius: 50%;
  background: #eee;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#wrap section#esg .con-box .sec-cont .esg-list > li:hover, #wrap section#esg .con-box .sec-cont .esg-list > li.on {
  width: 48rem;
  height: 48rem;
}
#wrap section#esg .con-box .sec-cont .esg-list > li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#esg .con-box .sec-cont .esg-swiper .swiper-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#esg .con-box .sec-cont .esg-swiper .swiper-slide {
  width: 19.8rem;
  height: 19.8rem;
  overflow: hidden;
  border-radius: 50%;
  background: #eee;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
}
#wrap section#esg .con-box .sec-cont .esg-swiper .swiper-slide > img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#wrap section#esg .con-box .sec-cont .esg-swiper .swiper-slide .symbols {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#wrap section#esg .con-box .sec-cont .esg-swiper .swiper-slide-active, #wrap section#esg .con-box .sec-cont .esg-swiper .swiper-slide:hover {
  width: 48rem;
  height: 48rem;
}
#wrap section#kasWrod {
  margin-top: 8rem;
}
#wrap section#kasWrod .sec-tit {
  margin-bottom: 3.2rem;
}
#wrap section#kasWrod .sec-cont {
  padding: 4rem;
  border-radius: 10px;
  background: url(/typeA/assets/images/main/kas_bg.png) no-repeat top center/contain;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#wrap section#kasWrod .sec-cont > strong {
  font-size: 2.8rem;
  font-weight: bold;
  display: block;
  margin-bottom: 7.8rem;
}
#wrap section#kasWrod .sec-cont > p {
  font-size: 1.8rem;
  color: #666;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#wrap section#talent {
  margin-top: 8rem;
}
#wrap section#talent .sec-cont {
  margin-top: 3.2rem;
}
#wrap section#talent .sec-cont .talent-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
#wrap section#talent .sec-cont .talent-list > li {
  min-height: 46.4rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#wrap section#talent .sec-cont .talent-list > li:nth-child(1) .front {
  background: url(/typeA/assets/images/main/talent_bg01.png) no-repeat center/cover;
}
#wrap section#talent .sec-cont .talent-list > li:nth-child(2) .front {
  background: url(/typeA/assets/images/main/talent_bg02.png) no-repeat center/cover;
}
#wrap section#talent .sec-cont .talent-list > li:nth-child(3) .front {
  background: url(/typeA/assets/images/main/talent_bg03.png) no-repeat center/cover;
}
#wrap section#talent .sec-cont .talent-list > li:hover .front {
  opacity: 0;
  visibility: hidden;
}
#wrap section#talent .sec-cont .talent-list > li:hover .back {
  opacity: 1;
  visibility: visible;
}
#wrap section#talent .sec-cont .talent-list > li .front {
  width: 100%;
  height: 100%;
  padding: 4.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#talent .sec-cont .talent-list > li .front::after {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#wrap section#talent .sec-cont .talent-list > li .front > strong {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}
#wrap section#talent .sec-cont .talent-list > li .back {
  width: 100%;
  height: 100%;
  padding: 4.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#wrap section#talent .sec-cont .talent-list > li .back .back-inner .back-tit {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}
#wrap section#talent .sec-cont .talent-list > li .back .back-inner .back-tit > span {
  color: #0A4FFF;
}
#wrap section#talent .sec-cont .talent-list > li .back .back-inner > ul {
  margin-top: 3.2rem;
}
#wrap section#talent .sec-cont .talent-list > li .back .back-inner > ul > li {
  position: relative;
  padding-left: 5.2rem;
  font-size: 2rem;
  line-height: 1.6;
}
#wrap section#talent .sec-cont .talent-list > li .back .back-inner > ul > li:not(:first-child) {
  margin-top: 2.4rem;
}
#wrap section#talent .sec-cont .talent-list > li .back .back-inner > ul > li::after {
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/typeA/assets/images/icon/check_icon.png) no-repeat center/80%;
}
#wrap section#question {
  padding: 10.4rem 0 20rem;
  margin-top: 8rem;
  background: url(/typeA/assets/images/main/question_bg.png) no-repeat top center/cover;
}
#wrap section#question .con-box .sec-tit {
  color: #fff;
}
#wrap section#question .con-box .sec-cont {
  margin-top: 7.2rem;
}
#wrap section#question .con-box .sec-cont::after {
  content: "";
  display: block;
  clear: both;
}
#wrap section#question .con-box .sec-cont .question-list > li:not(:first-child) {
  margin-top: 4.2rem;
}
#wrap section#question .con-box .sec-cont .question-list > li .question-tit {
  width: 100%;
  font-size: 2.8rem;
  color: #fff;
  padding-bottom: 2.2rem;
  border-bottom: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrap section#question .con-box .sec-cont .question-list > li .question-tit .question-num {
  font-family: "S-Core Dream";
  font-size: 4.8rem;
  font-weight: 500;
  color: #0A4FFF;
  margin-right: 2.4rem;
}
#wrap section#question .con-box .sec-cont .question-list > li .question-info {
  margin-top: 2rem;
  padding-left: 7.2rem;
  color: #bbb;
  font-size: 2.4rem;
  line-height: 1.6;
}
#wrap section#question .con-box .sec-cont .question-list + .common-btn {
  margin-top: 8.2rem;
  float: right;
}